.gallery__item {
  padding: 0.25rem;
}

.gallery__image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .gallery__item {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .gallery__item {
    width: 100%;
  }
}
