---
search: false
---

@charset "utf-8";

/* Fix for full-screen gallery images on mobile devices */
@media (max-width: 767px) {
  .gallery__slider .slide {
    height: auto !important;
    max-height: 80vh;
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'neon' }}"; // skin
@import "minimal-mistakes"; // main partials