---
search: false
---

@charset "utf-8";

@media (max-width: 599px) {
  .archive__item-teaser img {
    max-width: 100%;
    height: auto;
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'neon' }}"; // skin
@import "minimal-mistakes"; // main partials